---
layout: default
---
<h1 class="no-show">Articles</h1>
<ul class="index">
    {% for post in site.posts %}
        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
            {% unless forloop.first %}</ul>{% endunless %}
            <li>
                <h2 class="post__date" id="y{{ post.date | date: "%Y"}}">{{ currentdate }}</h2>
                <ul class="index">
                    {% assign date = currentdate %}
        {% endif %}
        <li class="index__item">
            {% if post.article_category %}{{ post.article_category | append: ': ' }}{% endif %}
            <a class="post__link" href="{{ post.url }}">{{ post.title }}</a>
            {% if post.publisher %}
                <span> for</span>
                <cite class="post__publisher">
                    {% if post.publisher_url %}
                        <a class="post__publisher-link" href="{{ post.publisher_url }}">
                    {% endif %}
                    {{ post.publisher }}
                    {% if post.publisher_url %}
                        </a>
                    {% endif %}
                </cite>
            {% endif %}
        </li>
        {% if forloop.last %}</ul></li>{% endif %}
    {% endfor %}
</ul>
