---
layout: default
---
<h2 class="no-show">Articles</h2>
<ul class="index">
    {% for post in site.posts %}
        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
            {% unless forloop.first %}</ul></li>{% endunless %}
            <li class="index__item">
                <h3 class="post__date">{{ currentdate }}</h3>
                <ul class="index">
                    {% assign date = currentdate %}
        {% endif %}
        <li class="index__item">
            <a class="post__link" href="{{ post.url }}">{{ post.title }}</a>
            {% if post.publisher %}
                <span> for</span>
                <cite class="post__publisher">
                    {% if post.relation %}<a class="post__publisher-link" href="{{ post.relation }}">{% endif %}
                    {{ post.publisher }}
                    {% if post.relation %}</a>{% endif %}
                </cite>
            {% endif %}
        </li>
        {% if forloop.last %}</ul></li>{% endif %}
    {% endfor %}
</ul>
