<figure class="post__lead">
    {% if page.image_link %}<a href="{{ page.image_link }}">{% endif %}
        <div class="figure__filter">
            <img src="{{ page.image }}" class="post__image" alt="{{ page.image_alt }}"/>
        </div>
    {% if page.image_link %}</a>{% endif %}
    {% if page.image_caption %}
        <figcaption class="post__image-caption">
			{% if page.image_link %}<a href="{{ page.image_link }}">{% endif %}
				{{ page.image_caption }}</figcaption>
			{% if page.image_link %}</a>{% endif %}
    {% endif %}
</figure>
