<span class="post__header-wrap">{% if page.article_category %}{{ page.article_category | append: ': ' }}{% endif %}<h1 class="post__title"><a class="post__link" href="{{ page.url }}">{{ page.title }}</a></h1>{% if page.publisher %} for <cite class="post__publisher">{% if page.publisher_url %}<a class="post__publisher-link" href="{{ page.publisher_url }}">{% endif %}{{ page.publisher }}{% if page.publisher_url %}</a>{% endif %}</cite>
{% endif %}
</span>
<time datetime="{{ page.date | date: '%F' }}" class="post__published">{{ page.date | date: "%-d %B %Y"}}</time>
