---
---
<!DOCTYPE html>
<html lang='en-gb'>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1"> {% seo %}
		<style>
			{% include reset.css %}
			{% include main.css %}
		</style>
		{% feed_meta %}
		<meta name="google-site-verification" content="4ITkWbuq-qEuF4KhwbrCo7jhQfUhwZwzbCwCe8C9R3Y" />
		<link rel="icon" type="image/png" href="assets/img/favicon-16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="assets/img/favicon-32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="assets/img/favicon-96.png" sizes="96x96">
	</head>
	<body>
		<header class="header" id="header">
			<h1 class="header__title"><a href="{{ site.url }}">Jacob Charles Wilson</a></h1>
			<h2 class="no-show">Contact</h2>
			<ul class="menu">
				{% if site.email %}
					<li class="menu__link"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				{% endif %}
				{% if site.author.twitter %}
					<li class="menu__link"><a href="http://twitter.com/{{ site.author.twitter }}">{{ site.author.twitter | prepend: '@' }}</a></li>
				{% endif %}
					<li class="menu__link no-print"><a href="/about">About</a></li>
			</ul>
		</header>
		<main class="main">
			{{ content }}
		</main>
		<footer class="footer no-print">
			<nav class="footer__nav">
				<ul class="menu">
					<li class="menu__link">
						<a href="#header">Back to top</a>
					</li>
				</ul>
			</nav>
		</footer>
		<!-- Reframe.js makes container elements responsive -->
		{% include reframe.html %}
		<script>
			// Reframe matching elements
			reframe(document.querySelectorAll('iframe'))
		</script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23909678-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-23909678-1');
		</script>
		<script>
		if ('serviceWorker' in navigator) {
		  window.addEventListener('load', () => {
		    navigator.serviceWorker.register('/sw.js');
		  });
		}
		</script>
	</body>
</html>
