---
---
<!DOCTYPE html>
<html lang='en-gb'>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% seo %}
		<style>
			{% include reset.css %}
			{% include main.css %}
		</style>
		<link type="application/atom+xml" rel="alternate" href="https://jacobcharleswilson.com/feed.xml" title="Jacob Charles Wilson - Atom Feed">
		<link type="application/atom+json" rel="alternate" href="https://jacobcharleswilson.com/feed.json" title="Jacob Charles Wilson - JSON Feed">
		<meta name="google-site-verification" content="4ITkWbuq-qEuF4KhwbrCo7jhQfUhwZwzbCwCe8C9R3Y" />
		<link rel="icon" type="image/png" href="assets/img/favicon-16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="assets/img/favicon-32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="assets/img/favicon-96.png" sizes="96x96">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<meta name="robots" content="noindex, noarchive, nocache"> <!-- Added while undergoing maintainance -->
	</head>
	<body id="top">
		<header class="header">
			<h1 class="header__title"><a href="{{ site.url }}">Jacob Charles Wilson</a></h1>
			<h2 class="no-show">Contact</h2>
			<ul class="menu">
				{% if site.author.email %}
					<li class="menu__item"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
				{% endif %}
				{% if site.author.twitter %}
					<li class="menu__item"><a href="http://twitter.com/{{ site.author.twitter }}">{{ site.author.twitter | prepend: '@' }}</a></li>
				{% endif %}
					<li class="menu__item no-print"><a href="/about">About</a></li>
			</ul>
		</header>
		<main class="main">
			{{ content }}
		</main>
		<footer class="footer no-print">
			<nav class="footer__nav">
				<ul class="footer__menu">
					<li class="footer__menu__item">
						<button onclick="window.print();">Print page</button>
					</li>
					<li class="menu__item">
						<a href="#top">Back to top</a>
					</li>
				</ul>
			</nav>
		</footer>
		{% include reframe.js %}
		{% include sw.js %}
		{% include gtag.js %}
		{% include about.js %}
	</body>
</html>
