---
layout: default
---
<article> 
    <header>
	<h1> 
		<a rel="bookmark" title="{{ page.title | xml_escape }}" href="{{ page.url }}">{{ page.title }}</a>
	</h1>{% if page.publisher %} for 
	<cite>{% if page.relation %}<a rel="external" href="{{ page.relation | xml_escape }}">{% endif %}{{ page.publisher }}{% if page.relation %}</a>{% endif %}</cite>
	{% endif %}
    </header>
	{% if page.cdn-image %}
		<figure>
			{% if page.image_link %}<a href="{{ page.image_link | xml_escape }}">{% endif %}
				<picture>
				   <source type="image/webp" srcset="{{ site.cdn_url | xml_escape }}webp/{{ page.cdn-image }}.webp" />
				   <img src="{{ site.cdn_url | xml_escape }}jpg/{{ page.cdn-image }}.jpg" alt="{{ page.image_alt | xml_escape }}" />
				</picture>
			{% if page.image_link %}</a>{% endif %}
			{% if page.image_caption %}
				<figcaption>
					{% if page.image_link %}<a href="{{ page.image_link | xml_escape }}">{% endif %}
						{{ page.image_caption }}
					{% if page.image_link %}</a>{% endif %}
				</figcaption>
		    	{% endif %}
		</figure>
	{% endif %}
        {{ content }}
		{% if page.publisher %}<p>{% if page.relation %}<a rel="external" href="{{ page.relation }}" title="{{ page.title | xml_escape }}">{% endif %}<cite>{{ page.title }}</cite>{% if page.relation %}</a>{% endif %} is published {% if page.publisher_issue %} in {{ page.publisher_issue }} of {% else %} by {% endif %}{% if page.relation %}<a rel="external" href="{{ page.relation }}" title="{{ page.title | xml_escape }}">{% endif %}<cite>{{ page.publisher }}</cite>{% if page.relation %}</a>{% endif %}.</p>{% endif %}
    {% if page.date %}
        <footer>
            <time datetime="{{ page.date | date_to_xmlschema }}">
                <a rel="bookmark" title="{{ page.title | xml_escape }}" href="{{ page.url }}">{{ page.date | date_to_long_string }}</a>
            </time>
        </footer>
    {% endif %}
</article>
{% if page.latest_content %}
	{% include latest_content.html %}
{% endif %}

